<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
    <style>
        body{
            background-image: url(https://www.sgs.com/-/media/global/images/structural-website-images/newsletter-images/safeguards-images/safeguards-toys-344x229-en-17-v1.jpg?la=en);
        }
        .container{
            margin-top: 50px;
            margin-left: 400px;
            margin-right: 400px;
            border-style: hidden;
            background-color: blanchedalmond;
        }
        .main{
            margin-top: 30px;
            margin-left: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<div class = "container">
    <div class = "main">
<center>
<body>
    <br>
    <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">Edit Product</h1>
    <form action="/update" method="POST">
        <input type="hidden" name="pid" value="{{model._id}}">
        <pre style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"></pre>
        Product Name     <input type="text" name="productName" value="{{model.productName}}">
        <br>
        Price            <input type="text" name="price" value="{{model.price}}"> 
        <br>
        Quantity         <input type="text" name="quantity" value="{{model.quantity}}">
        </pre>
        <pre><input type="submit" value="Update">   <button><a href="/">Home</a></button>
        <br>
        </pre>
    </form>
</body>
</center>
    </div>
</div>
</html>